/* ----------------------------------------------------------Header and Navigation Styling----------------------------------------------------------*/
header {
	background-image: url("images/headerimage.png"); 
	background-size: 100% 100%;
	margin: 0px;
	height: 260px;
	font: 27px calibri regular, sans-serif;
	padding-bottom: 0px;
}

header img {
	height: 60%;
	width: 35%;
	float: right;
	padding-right: 10%;
}

header a{
	float: left;
	padding-top: 9.5%;
	padding-left: 7%;
	color: #00a651;
	text-decoration: none;
}

/*link styling for normal links and dropdown buttons*/
a:hover, .dropdown:hover .dropbtn{
	color: #f26c4f;
	text-shadow: 0 0 16px #f9ad81;
}

/*Navigation styling for dropdown*/
nav{
	padding-right: 10%;
	padding-top: 15px;
	float: right;
	clear: right;
	width: 40%;

}

nav a {
  float: right ;
  font: 18px calibri regular, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  background-color: transparent;
  box-shadow: none;

}

.dropdown .dropbtn {
  color: #00a651;
  float:left;
  display: inline-block;
  font: 18px calibri regular, sans-serif;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 5px 10px;
  margin: 0;
  background-color: transparent;
}

/*dropdown-content is all of the blocked links that appear under dropdown buttons */
.dropdown-content {
  clear: left;
  display: none;
  position: static;
  left: 0px;
  top: 20px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /*z-index: 1;*/
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f9ad81;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ------------------------------------------------------Body and div Styling--------------------------------------------------------------------- */
body {
	background-color: #ccf3da;
	margin: 0;
	align-items: center;
}

div {
	display: block;
	background-color: white;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, .5);
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0px;
	padding: 7px;
}

/* Text for content styling */
h1{
	font: 47px impact, sans-serif;
	color:#f9ad81;
}
h2, label{
	font: 36px impact, sans-serif;
	color:#f26c4f;
}
h3{
	font: 25px calibri regular, sans-serif;
	color:#00a651;
}
h4, p{
	font: 25px calibri regular, sans-serif;
}

/* Form Styling */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #00a651;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

select:hover, input[type=text]:hover {
background-color: #ccf3da;
}

select:focus, input[type=text]:focus {
background-color: #f1fbf5;
border: 3px solid #555;
border-color: #ffebdf #f9ad81 #f27254 #fac1ac;
}


input[type=submit]:hover {
  background-color: #f27254;
  outline: thick;
}

/* table formatting */
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, #customers th {
  border: 2px solid white;
  padding: 8px;
}
table td {
  border-radius: 32px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  
  background-image: linear-gradient(to bottom, #f9ad81, #f48067);
  color: white;
}

/* ---------------------------------------------------------------Footer Styling------------------------------------------------------------------------ */
footer p{
	font: 11px calibri regular, sans-serif;
	color: #00a651;
	text-align: right;
}

footer section{
	width: 48%;
	display: -webkit-flex; /* Safari */
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	display: flex;
	flex-wrap: wrap;
}

footer ul{
	list-style-type: none;
	text-align: left;
	float: right;
}

footer li{
	float: left;
	clear: none;
}

footer li a {
  text-decoration: none;
}